<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mariadb://localhost:3306/your_database_name</property>
        <property name="hibernate.connection.username">your_username</property>
        <property name="hibernate.connection.password">your_password</property>

        <!-- JDBC connection pool settings -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">5000</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <!-- Specify dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="hibernate.current_session_context_class">thread</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>

        <!-- Mention annotated class files -->
        <mapping class="dev.kmfg.musicbot.database.models.DiscordGuild"/>
        <mapping class="dev.kmfg.musicbot.database.models.DiscordUser"/>
        <mapping class="dev.kmfg.musicbot.database.models.Playlist"/>
        <mapping class="dev.kmfg.musicbot.database.models.TrackedSong"/>
        <mapping class="dev.kmfg.musicbot.database.models.KMusicSong"/>
        <mapping class="dev.kmfg.musicbot.database.models.SongPlaytime"/>
        <mapping class="dev.kmfg.musicbot.database.models.SongInitialization"/>
        <mapping class="dev.kmfg.musicbot.database.models.UsedCommand"/>
    </session-factory>
</hibernate-configuration>

